@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Role</h1>

<form asp-action="Edit" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="PartialViews/CreateEditRolePartial" />

    <a asp-action="AddOrRemoveUser" asp-route-roleId="@Model.Id" class="btn btn-success mb-2">Add Or Remove Users</a>
    <br />

    <input type="submit" value="Save" class="btn btn-primary" />

    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>


@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

