@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>

<form asp-action="Edit" asp-controller="Employee" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="PartialViews/CreateEditEmployeePartial" />

    <input type="submit" value="Save" class="btn btn-primary" />

    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Cancel</a>
</form>


@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}