@model UserViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are You Sure to Delete this User</h1>

<form asp-action="Delete" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="PartialViews/DetailsDeleteUserPartial" />

    <input type="submit" value="Delete" class="btn btn-danger" />

    <a asp-action="Index" class="btn btn-light">Cancel</a>

</form>

